.places {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  max-width: 984px;
}

@media screen and (max-width: 1080px) {
  .places {
    margin: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    margin: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    margin: 0;
  }
}
