.lead {
  margin: auto;
  margin-top: 56px;
  max-width: 984px;
  margin-bottom: 92px;
}

@media screen and (max-width:1024px) {
  .lead {
    margin: 48px 4.7% 92px;
  }
}

@media screen and (max-width:768px) {
  .lead {
    margin: 48px 0 88px;
  }
}

@media screen and (max-width:320px) {
  .lead {
    margin-bottom: 64px;
  }
}
