.cover__title {
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
}

@media screen and (max-width: 529px) {
  .cover__title {
    max-width: 350px;
    font-size: 46px;
    line-height: 50px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 255px;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
  }
}
