.intro__title {
  max-width: 690px;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  color: #fff;
  margin: 0;
  padding-bottom: 40px;
}

@media screen and (max-width:768px) {
  .intro__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 529px) {
  .intro__title {
    font-size: 36px;
    line-height: 40px;
    max-width: 320px;
  }
}

@media screen and (max-width:320px) {
  .intro__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: 0;
  }
}
